<% average = @solve.average %>
<% average.solves.sort_by(&:position_in_average).each do |solve| %>
  <a href="/solve/<%= solve.id %>">
    <%= average.format_solve(solve) %> <br>
  </a>
<% end %>
= <%= format_time average.result %>
<% unless average.average_record.blank? %>
  (<%= average.average_record %>)
<% end %>
<br>
