<% solves.each do |solve| %>
  <a href="/solve/<%= solve.id %>">
    <%= format_solve(solve) %> <br>
  </a>
<% end %>
= <%= format_time result %>
<% unless average_record.blank? %>
  (<%= average_record %>)
<% end %>
<br>
