<% solves.each do |solve| %>
  <a href="/solve/<%= solve.id %>">
    <%= format_solve(solve) %> <br>
  </a>
<% end %>
= <%= format_time result %>
<% unless record.blank? %>
  (<%= record %>)
<% end %>
<br>
