<h2>High Scores</h2>
<table class="table">
  <tr>
    <th>Reconstructor</th>
    <th>Reconstructions</th>
  </tr>

  <tr>
    <td>
      <b>Total</b>
    </td>
    <td>
      <b><%= entries.inject(0) { |sum, entry| sum + entry[:count] } %></b>
    </td>
  </tr>
  <% entries.sort_by { |entry| -entry[:count] }.each do |entry| %>
    <tr>
      <td>
        <%= link_to entry[:reconstructor], "/?query=reconstructor:#{entry[:reconstructor].tr(" ", "-")}" %>
      </td>
      <td>
        <%= entry[:count] %>
      </td>
    </tr>
  <% end %>

</table>
