<label><%= title %></label>
<select 
  class="form-control"
  name="model[<%= field_name %>]">
  <% p entry %>
  <% field_value = entry.public_send(field_name) %>
  <% p field_name %>
  <% p field_value %>
  <% field_value.class.each do |entry| %>
    <option 
    value="<%= entry %>"
    <% if field_value == entry %>
      selected="selected"
    <% end %>
    ><%= entry.to_s %></option>
  <% end %>
</select><br>
