<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="icon" type="image/png" href="/favicon.ico">

    <title>CubeSolves</title>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	  <script src="http://www.ocf.berkeley.edu/~dadams/js/three_and_roofpig.min.js"></script>

    <script src="/javascripts/custom.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-44553015-1']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript';
       ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
         'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();

     </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="/">CubeSolves</a>

    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <%= current_user.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/average">Averages</a></li>
          <li><a href="/reconstructor">Reconstructors</a></li>
          <li><a href="/solver">Solvers</a></li>
          <li><a href="/competition">Competitions</a></li>
          <li><a href="/puzzle">Puzzles</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
        </li>
      </ul>
    <% end %>
    </nav>

    <div class="container">
      <div class="row">
        <% flash.keys.each do |key| %>
          <div class="alert alert-<%= key %>">
            <%= flash[key] %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>

      <div class="row footer text-muted">
        <hr>
        &copy; Justin Jaffray |
        <a href="http://www.github.com/justinj/reconstruction-database"
          target="_blank">
          Source
        </a> | 
        <a 
          href="https://github.com/justinj/reconstruction-database/issues"
          target="_blank">
          Issues
        </a> | 
        <a 
          href="/contributors"
          target="_blank">
          Top Contributors
        </a>
      </div>
    </div>
  </body>
</html>
