<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title>Reconstruction Database</title>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <a href="/">
        <h1>Reconstruction Database</h1>
      </a>
    </div>
    <%= yield %>
  </body>
</html>
