<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="icon" type="image/png" href="/favicon.ico">

    <title>CubeSolves</title>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


    <script src="/javascripts/custom.js" type="text/javascript" charset="utf-8"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44553015-1', 'justinjaffray.com');
      ga('send', 'pageview');
    </script>

  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="/">CubeSolves</a>

    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <%= current_user.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/average">Averages</a></li>
          <li><a href="/solver">Solvers</a></li>
          <li><a href="/competition">Competitions</a></li>
          <li><a href="/puzzle">Puzzles</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
        </li>
      </ul>
    <% end %>
    </nav>

    <div class="container">
      <div class="row">
        <% flash.keys.each do |key| %>
          <div class="alert alert-<%= key %>">
            <%= flash[key] %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>

      <div class="row footer text-muted">
        <hr>
        &copy; Justin Jaffray |
        <a href="http://www.github.com/justinj/reconstruction-database"
          target="_blank">
          Source
        </a> | 
        <a 
          href="https://github.com/justinj/reconstruction-database/issues"
          target="_blank">
          Issues
        </a>
      </div>
    </div>
  </body>
</html>
