<form action="/authenticate" method="POST">
  <label>Username</label>
  <input name="username" type="text" class="form-control">  <br>
  <label>Password</label>
  <input name="password" type="password" class="form-control">  <br>
  <input type="submit" value="Go" class="form-control"> 
</form>
