<form action="/average/submit_brest_post" method="POST">
  <textarea name="submission[content]" 
            class="form-control"
            rows="40"
    ></textarea>
  <input type="submit" value="Go!" class="form-control"></input>
</form>
