<div class="row span8 center" >
  <ul class="pagination">
    <% PAGES_TO_SHOW = 10 %>
    <% current_page = params.fetch("page", 1).to_i %>
    <% pages = pages_for(@solves) %>
    <% page_count = pages.count %>
    <% displayed_page = current_page - 1 %>
    <% page_range = ((displayed_page - PAGES_TO_SHOW)..(displayed_page + PAGES_TO_SHOW)) %>
    <% page_range = clamp_range(page_range, 0, page_count) %>
    <% pages = pages[page_range] %>
    <% if page_range.min > 1 %>
      <li>
      <%= pagination_link "&laquo;", 1 %>
      </li>
    <% end %>
    <% pages.each do |page| %>
      <li 
      <%= page.current_page == current_page ? 'class="active"' : "" %>
      >
      <%= pagination_link page.current_page %>
      </li>
    <% end %>
    <% if page_range.max < page_count %>
      <li>
      <%= pagination_link "&raquo;", page_count %>
      </li>
    <% end %>
  </ul>
  </row>
