<label>
    <%= title %>
    <select name="<%= name %>" class="form-control">
        <% elements.each do |element| %>
            <option <%=
                selected == element ?  'selected="selected"' : ""
            %>><%= element %></option>
        <% end %>
    </select>
</label>
