<% solve.steps.sort_by { |step| step.position_in_solve }.each do |step| %>
  <%= step.moves %>
  <% unless step.explanation.blank? %>
    <span class="comment">
      <%= solve.puzzle.delimiter unless step.moves.blank? %>
      <%= step.explanation %>
    </span>
  <% end %>
  <br>
<% end %>
