<li id="section_<%=section.id%>" class="stat-section">
    <span class="glyphicon glyphicon-remove-circle delete-stat"></span>
    <span><%= section.name %></span>
    <span><%= section.time %></span>
    <span><%= section.values %></span>
</li>
