h1 {
  color: black;
}

.search-button {
    margin-top: 20px;
}

#search-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.solve-index {
  color: #AAAAAA;
  text-align: right;
  float: right;
}

.arrow {
  font-size: 50%;
  vertical-align: 2px;
}

.link-header {
  color: black;
}

.center {
  text-align: center;
}

.content {
  background-color: white;
}

.comment {
  color: grey;
}

.algorithm {
  font-family: courier;
  font-size: 150%;
}

.notes {
  font-family: courier;
  font-size: 100%;
}

.tags {
  font-size: 150%;
}

.notes td {
  padding: 10px;
}

.solve-links {
  margin-bottom: 50px;
}

.others_in_average {
  font-size: 150%;
}

.tags {
  font-size: 150%;
}

.footnotes {
  color: grey;
}

.record {
  font-weight: bold;
  text-align: center;
}

.footer {
  padding-bottom:20px;
}

.stat-section {
  padding-bottom: 20px;
}

.stats-table td {
    padding: 10px;
}

.roofpig {
  width: 150px;
  height: 150px;
}
