h1 {
  color: black;
}

.arrow {
  font-size: 50%;
  vertical-align: 2px;
}

.link-header {
  color: black;
}

.center {
  text-align: center;
}

.content {
  background-color: white;
}

.comment {
  color: grey;
}

.algorithm {
  font-family: courier;
  font-size: 150%;
}

.notes {
  font-family: courier;
  font-size: 100%;
}

.tags {
  font-size: 150%;
}

.notes td {
  padding: 10px;
}

.solve-links {
  margin-bottom: 50px;
}

.others_in_average {
  font-size: 150%;
}

.tags {
  font-size: 150%;
}

.footnotes {
  color: grey;
}

.record {
  font-weight: bold;
  text-align: center;
}

.footer {
  padding-bottom:20px;
}
