h1 {
  color: black;
}

.content {
  background-color: white;
}

.comment {
  color: grey;
}

.algorithm {
  font-family: courier;
  font-size: 150%;
}

.youtube {
  margin-bottom: 50px;
}

.footnotes {
  color: grey;
}
